.calculator
{
    background: #1e1c20;  
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    color: #fff;
}


.calculator__container {
    display: grid;
    grid-template-columns: repeat(4 , 4rem);
    grid-template-rows: repeat(7 , minmax(4rem , auto));
    background: var(--bg-primary);
    border-radius: 12px;
    padding: 0.5rem;
    gap: 0.3rem 0.3rem;
}

.calculator__output
{
    grid-column: span 4;
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
}

.calculator__output p:first-child
{
    color: var(--color-text);
    font-size: 1.2rem;    
    word-break: break-all;
}
.calculator__output p:last-child
{
    font-size: 2rem;
    word-break: break-all;
}
.calculator__container > button
{
    background: var(--bg-secondary);
    transition: all 0.3s;
    border-radius: 10px;
    border: solid 1px transparent;
    outline: none;
    color: var(--color-text);
    font-size: 1.2rem;
    cursor: pointer;
}
.calculator__container > button:hover,
.calculator__container > button:active
{
    background: rgb(18, 22, 26) !important;
    border: solid 1px var(--bg-violet);
}

.text--orange
{
    color: var(--color-subtext);
}
.span--btn
{
    grid-column: span 2;
}

.bg--red
{
    background-color: #2D181D !important;
    color: #bd6477 !important;
}
.bg--violet
{
    background-color: var(--bg-violet) !important;
}

.bg--faint-red
{
    background-color: #AD081B !important;
}